<div class="h-[66dvh]  rounded-lg   flex flex-wrap  overflow-y-auto mx-2">
    <div class="pt-1 w-[100%]  h-[8dvh]  sticky top-0 z-10  rounded-lg flex justify-end left-1">
        <div class="bg-white m-3 ring-1 ring-yellow-400 rounded-xl shadow-sm shadow-yellow-600 w-auto flex justify-center p-1">
            <input type="search" class=" border-white h-6 text-yellow-700 placeholder-yellow-600" placeholder="Search">
        </div>


        
    </div>
  
    <div class="w-full h-[100%]  py-2 bg-yellow-300 flex  flex-wrap  overflow-y-auto  px-10">
  
        <div class="bg-color1 m-2 w-auto h-16 p-2 flex justify-between items-center shadow-sm shadow-yellow-400 rounded-full  ">
            <div class="relative  w-14 h-14  rounded-full">
                <div class="bg-white ring-2 ring-yellow-400 rounded-full w-[100%] h-full">
                    <img class="rounded-full h-full w-full" src="assets/Restaurant/Icons/dinningtable.png" alt="">
                      
                    
                </div>
            </div>

            <div class=" w-28 h-full  flex justify-center items-center text-lg text-yellow-400 font-bold">
                <span>Table 01</span>
            </div>
            <div>
                
            </div> 
        </div>
        
        <div class="bg-color1 m-2 w-auto h-16 p-2 flex justify-between items-center shadow-sm shadow-yellow-400 rounded-full  ">
            <div class="relative  w-14 h-14  rounded-full">
                <div class="bg-white ring-2 ring-yellow-400 rounded-full w-[100%] h-full">
                    <img class="rounded-full h-full w-full" src="assets/Restaurant/Icons/dinningtable.png" alt="">
                      
                    
                </div>
            </div>

            <div class=" w-28 h-full  flex justify-center items-center text-lg text-yellow-400 font-bold">
                <span>Table 01</span>
            </div>
            <div>
                
            </div> 
        </div>

        <div class="bg-color1 m-2 w-auto h-16 p-2 flex justify-between items-center shadow-sm shadow-yellow-400 rounded-full  ">
            <div class="relative  w-14 h-14  rounded-full">
                <div class="bg-white ring-2 ring-yellow-400 rounded-full w-[100%] h-full">
                    <img class="rounded-full h-full w-full" src="assets/Restaurant/Icons/dinningtable.png" alt="">
                      
                    
                </div>
            </div>

            <div class=" w-28 h-full  flex justify-center items-center text-lg text-yellow-400 font-bold">
                <span>Table 01</span>
            </div>
            <div>
                
            </div> 
        </div>


        <div class="bg-color1 m-2 w-auto h-16 p-2 flex justify-between items-center shadow-sm shadow-yellow-400 rounded-full  ">
            <div class="relative  w-14 h-14  rounded-full">
                <div class="bg-white ring-2 ring-yellow-400 rounded-full w-[100%] h-full">
                    <img class="rounded-full h-full w-full" src="assets/Restaurant/Icons/dinningtable.png" alt="">
                      
                    
                </div>
            </div>

            <div class=" w-28 h-full  flex justify-center items-center text-lg text-yellow-400 font-bold">
                <span>Table 01</span>
            </div>
            <div>
                
            </div> 
        </div>

        <div class="bg-color1 m-2 w-auto h-16 p-2 flex justify-between items-center shadow-sm shadow-yellow-400 rounded-full  ">
            <div class="relative  w-14 h-14  rounded-full">
                <div class="bg-white ring-2 ring-yellow-400 rounded-full w-[100%] h-full">
                    <img class="rounded-full h-full w-full" src="assets/Restaurant/Icons/dinningtable.png" alt="">
                      
                    
                </div>
            </div>

            <div class=" w-28 h-full  flex justify-center items-center text-lg text-yellow-400 font-bold">
                <span>Table 01</span>
            </div>
            <div>
                
            </div> 
        </div>

        <div class="bg-color1 m-2 w-auto h-16 p-2 flex justify-between items-center shadow-sm shadow-yellow-400 rounded-full  ">
            <div class="relative  w-14 h-14  rounded-full">
                <div class="bg-white ring-2 ring-yellow-400 rounded-full w-[100%] h-full">
                    <img class="rounded-full h-full w-full" src="assets/Restaurant/Icons/dinningtable.png" alt="">
                      
                    
                </div>
            </div>

            <div class=" w-28 h-full  flex justify-center items-center text-lg text-yellow-400 font-bold">
                <span>Table 01</span>
            </div>
            <div>
                
            </div> 
        </div>
    </div>  
  </div>

 