<!-- Foods -->

<div class="h-[66dvh]  rounded-lg   flex flex-wrap  overflow-y-auto mx-2">
    <div class="pt-1 w-[100%]  h-[8dvh]  sticky top-0 z-10  rounded-lg flex justify-between left-1">
        <div class="w-[25%] flex justify-center">
            <select (change)="SelectCategorie($event)" id="" class="bg-white m-3 ring-1 ring-yellow-400 rounded-xl focus:border-yellow-600 focus:ring-1 focus:ring-yellow-600 shadow-sm shadow-yellow-600 w-[100%] flex justify-center p-1 pl-2">
              <!-- <option value="" disabled >Selectionner une categorie</option> -->
              <option class="hover:bg-red-500" *ngFor="let food of foods" >{{food.type}}</option>
            </select>
        </div>

      <input type="search" placeholder="Search"
        class="border-2 border-yellow-600 h-7 mr-2 rounded-xl p-2 text-slate-900 placeholder-yellow-600 focus:border-yellow-600 focus:ring-1 focus:ring-yellow-600">
    </div>

    <div class="flex flex-wrap overflow-y-auto mx-2 px-4">

      <div *ngFor="let item of foodArticle" class="cursor-pointer w-auto h-52 m-8 ">
        <div (click)="selectedFood(item)" [ngClass]="{'ring-2 ring-yellow-600 w-32 h-32 rounded-full overflow-hidden': !item.selected,
        'ring-4 ring-green-600 w-36 h-36 rounded-full overflow-hidden': item.selected}">
            <img class="w-[100%] h-[100%]" [src]="item.images" alt="">
        </div>

        <div class="m-2 flex justify-center flex-col gap-1 items-center">
          <h3 class="text-lg w-40 text-yellow-600 font-bold">{{item.nom}}</h3>
          <h2 class="text-lg ml-[-4em] text-gray-500 font-bold">{{item.prix}} fcfa</h2>
        </div>
      </div>
    </div>

  </div>
