<!--accueil-->

<div class="rounded-lg  h-[68dvh] py-3">

  <ng-container *ngIf="nav=='menu'" >
   <app-menu></app-menu>
  </ng-container>

  <ng-container *ngIf="nav=='foods'" >
    <app-foods (foodItems)="addFood($event)"></app-foods>
  </ng-container>

  <ng-container *ngIf="nav=='drinks'" >
    <app-drinks (com)="addDrink($event)"></app-drinks>
  </ng-container>

  <ng-container *ngIf="nav=='desserts'" >
    <app-desserts (dess)="addDessert($event)"></app-desserts>
  </ng-container>

</div>

<hr>
<div class="flex justify-between rounded-lg w-[50%] p-4 ml-2">
  <div (click)="menu()"
    [class.bg-yellow-600]="nav === 'menu'"
    [class]="{'text-[#f4f1f1]': nav === 'menu'}"
    class="w-[20%] cursor-pointer ring-1 ring-yellow-700 shadow-md shadow-yellow-700 px-2 py-1 text-yellow-600 font-bold text-lg rounded-xl flex justify-center">
    Menu
  </div>
  <div (click)="foods()"
    [class.bg-yellow-600]="nav === 'foods'"
   [class]="{'text-[#f4f1f1]': nav === 'foods'}"
    class="w-[20%] cursor-pointer ring-1 ring-yellow-700 shadow-md shadow-yellow-700 px-2 py-1 text-yellow-600 font-bold text-lg rounded-xl flex justify-center">
    Foods
  </div>
  <div (click)="drinks()"
    [class.bg-yellow-600]="nav === 'drinks'"
    [class]="{'text-[#f4f1f1]': nav === 'drinks'}"
    class="w-[20%] cursor-pointer ring-1 ring-yellow-700 shadow-md shadow-yellow-700 px-2 py-1 text-yellow-600 font-bold text-lg rounded-xl flex justify-center">
    Drinks
  </div>
  <div (click)="desserts()"
    [class.bg-yellow-600]="nav === 'desserts'"
    [class]="{'text-[#f4f1f1]': nav === 'desserts'}"
    class="w-[20%] cursor-pointer ring-1 bg-white ring-yellow-700 shadow-md shadow-yellow-700 px-2 py-1 text-yellow-600 font-bold text-lg rounded-xl flex justify-center">
    Desserts
  </div>
</div>

